@model IEnumerable<CantinaTioWell.Models.ClienteCompra>

@{
    ViewBag.Title = "Cliente Divida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de produtos do cliente com dívida</h2>

<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Produto
        </th>
        <th>
            Valor
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoProduto)
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Enviar e-mail de cobrança", "EnvioDeEmailDeCobranca", new { id = Model.First().IdCliente })
<br />
<br />
@Html.ActionLink("Retornar para relatório", "Index", "Administrativo")